<footer class="footer" style="background-image: url(https://bit.ly/3bfHv71);">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/danny.dan.9066389/" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/_w.a.n.i.n.a/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://twitter.com/BoogieDarnell" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/Daniel-darnell" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>