<footer class="footer" style="background-image: url(https://bit.ly/3bfHv71);">
    <div class="container text-center">
      <a class="" href="" target="_blank">
        <i class=" " aria-hidden="true"></i>
      </a>
      <a class="" href="" target="_blank">
        <i class=" " aria-hidden="true"></i>
      </a>
      <a class=" " href="" target="_blank">
        <i class="" aria-hidden="true"></i>
      </a>

      <a class="" href="" target="_blank">
        <i class=" " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>