<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Daniel Wanina </strong> A student at Moringa School doing software development with speciality in web development expecting to graduate in the January this year.</p>


              <p>
                I have always been fascinated with technology especially computer programs, web applications and even phone applications. So I had that desire to know more what actually happens behind the scene and so I set out my journey in development at Moringa School.
              </p> 
                
              <p>
                I write code and kill bugs, as debugging the most intersting part of coding for me.
              </p>
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">  October 07, 1997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">darnelldanny1997@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+254 111939405</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8"> Kibra, Nairobi Kenya
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Swahili, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>