<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Karoki Lloyd Kaara </strong> A goal-oriented Finance and Accounting Professional adept at payroll management, financial reporting, invoicing,
                budgeting, performing reconciliations, revenue management and forecasting. Proven track record of working in fastpaced, performance-based environments and has considerable experience in the growing Fintech space. Able to work
                independently and as part of a productive team, demonstrating the motivation and multi-tasking abilities required to
                meet demanding deadlines while maintaining the highest standards.</p>


              <p>
                Highly proficient in the use of Microsoft Office
Applications and Software such as NetSuite, SAP and QuickBooks to track business interactions and optimize company
efficiencies.
              </p> 
                
              <p>
                Combines a strong work ethic with sound knowledge and understanding of Information Systems and Data Analysis tools
to produce accurate reports and financial statements that are in accordance with the Generally Accepted Accounting
Principles (GAAPs). A strategic thinker with proven management and leadership skills. Utilizes sound judgement and
strong analytical skills to resolve problems and interpret new legislation and financial information to make wise
decisions. Communicates articulately both verbally and in writing and has the interpersonal skills required to develop
and maintain effective relationships with people at all levels of an organization.
              </p>
              <p>Currently looking for a challenging and mentally-stimulating new position to enhance knowledge, develop skill set and
                network with professionals in the field of Finance and Accounting; leveraging the afore-mentioned competencies to
                contribute to the growth and profitability of the company. </p>
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase"></strong>
                </div>
                <div class="col-sm-8"> </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">hkkaara@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+254 718 020 494</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8"> P.O Box 18647-20100 Nakuru, Kenya 
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Swahili, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>