<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2020 - 2021</p>
              <div class="h5"> Certificate </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">  Software development </div>
               <h4 class="category"> Moringa School </h4>
               <ul>
                <li> Started my programming journey at Moringa school and majored in <b> Web development</b>.</li>
                    <li> The curriculum here at Moringa was detailed though intensed where I learned web development tracks like:- <b>Angular, Flask and Django</b> with basic HTML CSS nad Bootstrap </li>
                 <li> The tests done here were in the form of weekly independent projects to test on the knowledge and content learnt that week, the projects were the committed and pushed to github and hosted in free hosting sites like heroku.</li>
                 <li> Aside Independent projects there were Group projects whereby students were teamed up by the Technical mentors to enance team work and efficiency. Each student was hereby expected to do there part on the projects and push them to their individaul github branches and the scrum master expected to merge the branches to one to complete the web application.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2016</p>
              <div class="h5"> Certificate </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Financial Sales Certificate </div>
               <h4 class="category"> Generation Kenya 
               </h4>
               <ul>
                <li>
                  Here we learnt technical skills with lots of hands-on, interactive sessions that would aid in becoming a top salesperson.And the Skills that I was equiped with here were:
                                  </li>
                                  <ol>
                                    <li>Prospecting and Qualifying clients.</li>
                                    <li>Making Sales contacts.</li>
                                    <li>Value proposition delivery. </li>
                                    <li>Overcoming objections. </li>
                                    <li>Closing the deal.</li>
                                    <li>Serving Clients.</li>
                                  </ol>
                                  <!-- <li>
                                    .
                                  </li>
                                  <li>
                                      Completed my high school with<b> 78%</b>.
                                  </li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2015</p>
              <div class="h5"> High School </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Kenya Certificate of Secondary Education </div>
               <h4 class="category"> Chianda High School.
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with a mean grade of <b> B plain </b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>