<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 to 2018</p>
              <div class="h5"> Bachelor of Commerce (Finance Major) (Second Class Upper) </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">  Finance and
                Accounting Professional  </div>
               <h4 class="category"> Strathmore University </h4>
               <ul>
                <li> Started my  Finance and
   <b>                 Accounting Profession Journey at Strathmore University</b>.</li>
                    <li> Here i was able to be a goal-oriented Finance and Accounting Professional adept at payroll management, financial reporting, invoicing,
                      budgeting, performing reconciliations, revenue management and forecasting. Proven track record of working in fastpaced, performance-based environments and has considerable experience in the growing Fintech space:- <b> Able to work
                        independently and as part of a productive team, demonstrating the motivation and multi-tasking abilities required to
                        meet demanding deadlines while maintaining the highest standards. </b> Highly proficient in the use of Microsoft Office
                        Applications and Software such as NetSuite, SAP and QuickBooks to track business interactions and optimize company
                        efficiencies.  </li>
                 <li> Combines a strong work ethic with sound knowledge and understanding of Information Systems and Data Analysis tools
                  to produce accurate reports and financial statements that are in accordance with the Generally Accepted Accounting
                  Principles (GAAPs).</li>
                 <li> And be able to Communicate articulately both verbally and in writing and has the interpersonal skills required to develop
                  and maintain effective relationships with people at all levels of an organization. </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 to 2014</p>
              <div class="h5"> Certificate </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> International Computer Driving License  </div>
               <h4 class="category"> Institute of Advanced Technology 
               </h4>
               <ul>
                 <li>The ICDL programme defines the skills and competencies necessary to use a computer and common computer applications. It offers a wide range of modules including Computer Essentials, Word Processing and IT Security.</li>

                                  <!-- <li>
                                    .
                                  </li>
                                  <li>
                                      Completed my high school with<b> 78%</b>.
                                  </li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 to 2012</p>
              <div class="h5"> High School </div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Kenya Certificate of Secondary Education </div>
               <h4 class="category"> Sheikh Khalifa Secondary School .
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Litrature and Languages.
                </li>
               
                <li>
                    which are:(K.C.S.E) ( Math B+, English A)Completed my Secondary school with a mean grade of <b> B plus</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>