<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/delani.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> A Delani Studio clone website </h4>
          <h5 class="card-text"><b>Technology :</b> HTML5, Javascript and CSS </h5>
            <h5 class="card-text"><a href="https://daniel-darnell.github.io/Delani-Studio/"> View Website</a></h5>
          <a href="https://github.com/Daniel-darnell/Delani-Studio" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/alfajiri.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Alfajiri blogs; A blogs web application</h4>
           <h5 class="card-text"><b>Technology :</b> Flask,Python,Bootstrap3, Heroku </h5>
    
            <h5 class="card-text"><a href="https://alfajiriblogs001.herokuapp.com/">View Website</a></h5>
          <a href="https://github.com/Daniel-darnell/blogspot" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/otis.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> An interactive web application that links Otis Pizza to customers place their orders. </h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS, JAVASCRIPT </h5>
            <h5 class="card-text"><a href="https://daniel-darnell.github.io/Otis-Pizza/">View Website</a></h5>
          <a href="https://github.com/Daniel-darnell/Otis-Pizza" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/newsflash.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title"> NewsFlash; A web application that displays news from various sources</h4>
           <h5 class="card-text"><b>Technology :</b> Flask,Python,HTML, Bootstrap3 </h5>
           <h5 class="card-text"><a href="https://newsflash001.herokuapp.com/"> View Website  </a></h5>
          <a href="https://github.com/Daniel-darnell/NEWSAPI" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/quotes.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> QuotesX; An angular web application that enables users to post quotes. </h4>
           <h5 class="card-text"><b>Technology :</b> HTML5, CSS, Angular, Bootstrap3, Markdown </h5>
             <h5 class="card-text"><a href="https://daniel-darnell.github.io/QuoteFun/"> View Website </a></h5>
          <a href="https://github.com/Daniel-darnell/QuoteFun" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    

      
    
    
    </div>
    </div>
  </div>